@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&Shade&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme {
  --background: #fafafa;
  --foreground: #1c1c1c;
  --primary: #00a65d;
  --secondary: #f7f6ee;

  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-roboto font-semibold leading-tight;
  }

  a,
  p,
  input,
  textarea {
    @apply font-inter leading-relaxed;
  }

  html {
    @apply scroll-smooth;
  }

  html.lenis {
    @apply h-auto;
  }

  .lenis.lenis-smooth {
    @apply scroll-smooth;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-auto;
  }

  .lenis.lenis-stopped {
    @apply overflow-hidden;
  }

  .lenis.lenis-scrolling iframe {
    @apply pointer-events-none;
  }
}

@layer utilities {
  .main {
    @apply relative w-full min-h-screen;
  }

  .centered__container {
    @apply w-full max-w-xl flex flex-col items-start justify-center gap-6 lg:gap-8 container mx-auto px-4 py-8 lg:py-16;
  }

  .heading__title {
    @apply text-4xl md:text-5xl lg:text-6xl font-semibold;
  }

  .heading__subtitle {
    @apply text-lg lg:text-2xl;
  }
}
